/* .fight {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

.actions {
  padding: 1.5rem;
  text-align: center;
  display: inline;
}

.actions button {
  font: inherit;
  font-size: 15px;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}
 */


 .fight {
  font-size: 20px;
  border: 1px solid black;
  /* border-radius: 25px; */
  padding: 3%;
  text-align: center;


  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
}

.actions {
  padding: 0px;
  text-align: center;
  display: inline;
}

.fight button {
  font: inherit;
  font-size: 15px;
  cursor: pointer;
  background-color: #86C232;
  border: 1px solid #86C232;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.fight button:hover,
.fight button:active {
  background-color: #97d63e;
  border-color: #97d63e;
}

/* .actions button {
  font: inherit;
  cursor: pointer;
  background-color: #86C232;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #86C232;
  border-radius: 4px;
  font-weight: bold;
} */
