.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form {
  padding: 1rem;
}

.content {
  text-align: center;
  padding: 0.25rem;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #86C232;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #86C232;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #97d63e;
  border-color: #97d63e;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.father {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 2px;
  padding-top: 2%;
  /* text-align: center; */
}

.atribute {
  text-align: center;
}

.red {
  text-align: right;
  display: grid;
}

.blue {
  text-align: left;
}


.alert {
  padding: 15px;
  /* margin-bottom: 20px; */
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert_link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert_dismissable,
.alert_dismissible {
  padding-right: 35px;
}

.alert_dismissable .close,
.alert_dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert_success {
  padding: 15px;
  /* margin-bottom: 20px; */
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert_success hr {
  border-top-color: #c9e2b3;
}

.alert_success .alert_link {
  color: #2b542c;
}

.alert_info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert_info hr {
  border-top-color: #a6e1ec;
}

.alert_info .alert_link {
  color: #245269;
}

.alert_warning {
  background-color: #dbca75;
  border-color: #faebcc;
  color: #5e4925;
  padding: 15px;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  opacity: 100%;
}

.alert_warning hr {
  border-top-color: #f7e1b5;
}

.alert_warning .alert_link {
  color: #66512c;
}

.alert_danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
}

.alert_danger hr {
  border-top-color: #e4b9c0;
}

.alert_danger .alert_link {
  color: #843534;
}
