.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.success {
  border: 5px solid #03C04A;
}

.pending {
  border: 5px solid yellow;
}

.failure {
  border: 5px solid red;
}

h1 {
  margin-left: 5%;
  padding-top: 0.2%;
}
