.okvir {
    background-color: white;
    width: 600px;
    margin-right: 400px;
    height: 500px;

}

.maj {
    /* padding: 80px;
    padding-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px; */
    padding-top: 120px;
    margin-left: 120px;
    margin-top: 200px;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}


